<span class="type-number" title="Type {{type}} has a minimum of {{defaultVal minimum "-∞"}} and a maximum of {{defaultVal maximum "∞"}}">
	{{type}}<span class="range">[{{defaultVal minimum "-∞"}},{{defaultVal maximum "∞"}}]</span>
</span>